{% extends "base.html" %}

{% block head %}

{% endblock %}


{% block body %}
    <div class="container">
        <br>
        <br>
        <h1 class="title-font" id="title-index" align="center">About Ethical Eats</h1>
        <br>
        <h4>How To Use Our Site</h4>
        <div class="row">
            <br>
            <div class="col">
                Instructions on how to use the search function, create user and modify your recipe book.
            </div>
            <div class="col-6">
                <center>
                    Video Here
                </center>
            </div>
        </div>
        <br>
        <br>
        <h4>Why Ethical Eats</h4>
        <div class="row">
            <div class="col">
                From Our Client:<br>
                So as a client, I’m looking for an app that allows me to enter my favorite meal or ingredients for a meal and transform it to be more ethical. “Ethical” is up to interpretation but could include considerations such as environmental impact, animal welfare, workers’ rights, problematic corporate ties and more.
            </div>
            <div class="col-5">
                <center>
                    Picture Here
                </center>
            </div>
        </div>
        
    </div>
{% endblock %}