{% extends "base.html" %}

{% block head %}

{% endblock %}


{% block body %}

    <div class="container">
        <br>
        <br>

          <div align="center"> 
             <div class="header"> 
                <h1 class="word">Create a New Account</h1> 
                <h2 class="word">Join Ethical Eating Today!</h2>
             </div></br></br>
                <form action="/createAccount" method="post"> 
                    <input id="username" name="username" type="text" placeholder="Enter Your Username" class="textbox"/></br></br> 
                    <input id="password" name="password" type="password" placeholder="Enter Your Password" class="textbox"/></br></br> 
                    <input id="email" name="email" type="text" placeholder="Enter Your Email Address" class="textbox"/></br></br> 
                    <input type="submit" class="btn" value="Create Account"></br>
		        </form></br></br>
            <p class="bottom">Already have an account?  <a class="bottom" href="/login"> Log In here</a></p> 
			<p class="bottom">Continue as guest?  <a class="bottom" href="/index"> Click here</a></p> 
          </div> 

    </div>
{% endblock %}