{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block body %}
    <div class="container" align="center">
        <br>
        <br>
        
        
        <p><h1 class="display-2">Ethical Eats</h1></p><br>
        <p>
            <h3 class="text">Welcome, {{ user[0][1]}}!</h3>            
            
            <a class="btn btn-primary btn-lg" href="/recipebook/{{ user[0][0] }}" role="button">My Recipe Book</a>
            <div class="btn-group">
                    
                    <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Select A Recipe
                    </button>
                    
                    <div class="dropdown-menu">
                        {% for recipe in recipes %}
                        <a class="dropdown-item" href="/ingredients_user/{{recipe[0]}}/{{user[0][0]}}">{{recipe[1]}}</a>
                        {% endfor %}
                    </div>
                    
                </div>
        </p>
    </div>

{% endblock %}
