<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <link href="{{ url_for('static', filename = 'css/index.css') }}" rel="stylesheet">
</head>
<body>
<header>
    <ul class="navigationbar">
        <li><a href="{{ url_for('index') }}">Home</a></li>
        <li><a href="{{ url_for('coaches') }}">Coaches</a></li>
        <li><a href="{{ url_for('teams') }}">Teams</a></li>
        <li><a href="{{ url_for('players') }}">Players</a></li>
        <li><a href="{{ url_for('referees') }}">Referees</a></li>
        <li><a href="{{ url_for('games') }}">Games</a></li>
    </ul>
</header>
<br>
<h1>Bell Orange Intramural Soccer League</h1>
<p>This is the home page of the soccer league with functionality with each separate page</p>
</body>
</html>