{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block body %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <div class="container">
        <br>
        <br>
        <h1 class="title-font" id="title-ingredients" align="center">Ingredients</h1>
        <p>
            <br><br>
            <center>
                  <div class="container">
    <h2>Ingredients in {{ recipe[0][1] }}</h2>
   <p></p>
   <div align="left">
   <button class="btn btn-primary" onclick="location.href='/index'">Back to Recipes</button>
   </div>
   <p></p>
    <table class="table table-striped" id="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Ingredient</th>
          <th scope="col">Ethical Alert</th>
          <th scope="col">Ethical Description</th>
          <th scope="col">Suggested Alternative</th>
          <th scope="col">Use Alternative?</th>
        </tr>
      </thead>
        <tbody>
    {% for row in ingredients %}
        <tr>
            <th scope="row" id="ingredient">{{row[1]}}</th>
            <td id="alert">{{row[2]}}</td> 
<!--        <td>&#10071;</td>
            <td>&#9989;</td>
-->            
            <td>{{row[3]}}</td>
            <td id="alt">{{row[4]}}</td>
                <!--
            }
            }
            }
            <td>

                <select id="alts" class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <option selected>Alternative</option>
                    {% for alt in alternative %}
                      <option value ="{{alt[0]}}">{{alt[1]}}</option>
                    {% endfor %}
                </select>
            

            </td>
            -->
            <td>
                <input type="checkbox" name="usealt" id="usealt"> Use</input>
            </td>
        </tr>
   	{% endfor %}
        </tbody>
    </table>
    <div>
<!--    	<button type="submit" onclick="" class="btn btn-primary" id="show">Show Ingredients with Alternatives</button>
-->
    </div>
    </div>
        </p>
    </div>

<!-- LOGIC FOR ICON POPUP -->
<script>
    $('#table td').each(function(){
        if($(this).text() ==1) {
            $(this).html("&#10071;");
        }
        if($(this).text()==0){
            $(this).html("&#9989;");
        }
    });
</script>

<!-- LOGIC FOR SWAPPING ALTERNATIVES -->
<script>
$(document).ready(function(){
  $("#usealt").click(function(){
    $("#ingredient").text($("#alt").text())
  });
});
</script>


{% endblock %}
