{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block body %}
    <div class="container" align="center">
        <br>
        <br>
        <div class="header"> 
            <h1 class="word">Use your Ethical Eating Account</h1>
            </br>
            <h2 class="word">Sign In Here!</h2>
        </div>
            </br>
            </br>
            <form id= "login" action="/user_login" method="POST">
                <input id="username" name="username" type="text" placeholder="Enter Your Username" class="textbox">
                <br><br>
                <input id="password" name="password" type="text" placeholder="Enter Your Password" class="textbox">
                <br><br>
                <input type="submit" value="Submit">
            </form></br></br></br>
        <p class="bottom">Don't have an account?  <a class="bottom" href="/createAccount"> Create an account</a></p> 
		<p class="bottom">Continue as guest?  <a class="bottom" href="/index"> Click here</a></p> 
    </div>

{% endblock %}