{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block body %}
    <div class="container">
        <br>
        <br>
        <h1 class="title-font" id="title-index" align="center">Ethical Eats!</h1>
        <p>
            <br><br>
            <center>
                <div>
                    <p>Recipe Book for userID {{ userid }}</p>
                    <table>
                        <tr>
                            <th>Recipe ID</th>
                            <th>Recipe Name</th>
                        </tr>
                        {% for row in recipes %}
                        <tr>
                            <td>{{ row[0] }}</td>
                            <td>{{ row[1] }}</td>
                            <td><input type="button" name="View" value="View" onclick="window.location = '/ingredients_user/{{row[0]}}/{{userid}}'"></td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </center>
        </p>
    </div>

{% endblock %}